*{
    margin:0;
    box-sizing: border-box;
}

.header{
    height: 50px;
    background-color: rgb(62, 141, 221);
    background-image: url("img/pattern.png");
    background-size: 200px;
    background-repeat: repeat-x;
    position:relative
}

#logo{
    position:absolute;
    left:0;
    bottom:0;
    height: 70%;
    margin-bottom:5px;
}

.container{
    position:relative;
    margin-left:10px;
}

div.container{
    width:1000px;
}
div.container h1{
    font-size: 40px;
}

div.container img{
    margin-top:10px;
    height:300px;
}

div.container h4{
    font-size: 15px;
    color: lightslategray
}

div.container p{
    font-size: 10px;
}

a{
    text-decoration: none;
}

article,section{
    margin-top:10px;
}

article span{
    background-color: yellow;
}

article ul{
    padding:0px;
    margin-left:10px;
}

table{
    font-size: 15px;
    text-align: left;
}

.short-cell{
    width:20%;
}

.long-cell{
    width:60%;
}

th{
    color:white;
}
#blue{
    background-color:rgb(62, 141, 221);
}

#lightblue{
    background-color: lightblue;
}

#greytext{
    margin-top:10px;
    color: gray;
    font-size: 25px;
}

footer div.container{
    width:300px;
}

footer img{
    width:15%;
    display: block;
    margin-bottom:5px;
}